[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flake8 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
